@charset "utf-8";
/* CSS Document */

body {
	padding: 0px;
	margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

a:link {
    color: green;
}

a:visited {
    color: white;
}

a:hover {
    color: #13A61B;
}


.active {
    background-color: #4CAF50;
}

.title {
	margin: auto;
	width: 100%;
	height: 15%;
	background-color: #13A61B;
	position: absolute;
}


.title .header {
	width: 100%;
	position: absolute;
	height: 15%;
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
}

.title .search {
	left: 1%;
	width: 10%;
	height: 15%;
	position: absolute;
}


.title .login{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 5px;
	position: inherit;
	top: 15%;
	right: 1%;
	font-size: 14px;
	border-style: solid;
	border-color: white;
}

.title .navbar{
	left: 85%;
	position: relative;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}


.information {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: auto;
	text-align: center;
	color: white;
	border-top: solid;
	border-color: white;
	width: 100%;
	height: 50%;
	background-color: #ffe6e6;
	position: absolute;
	top: 15%;
	background-image: url("images/views.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.65;
}

.mobile {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: white;
	margin: auto;
	text-align: center;
	border-top: solid;
	border-color: white;
	width: 100%;
	height: 40%;
	background-color: #333;
	position: absolute;
	top: 65%;
}

.mobile .vendorcreate {
	position: absolute;
	bottom: 15px;
	right: 2%;
	font-size: 14px;
	border-style: solid;
	border-color: #13A61B;
	border-radius: 5px;
}

.forms {
	width: 100%;
	height: 90%;
	top: 15%;
	position: absolute;	
	border-top: solid;
	border-color: white;
	background-color: #333;
}

.forms .user_pass {
	top: 20%;
	left: 30%;
	height: 55%;
	width: 40%;
	color: white;
	background-color: #333;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 3px;
	padding: 10px;
	padding-bottom: 5px;
	position: absolute;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.forms .edit_account {
	top: 3%;
	left: 30%;
	height: 90%;
	width: 40%;
	color: white;
	background-color: #333;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 3px;
	padding: 10px;
	padding-bottom: 5px;
	position: absolute;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.forms .edit_card {
	top: 10%;
	left: 30%;
	height: 55%;
	width: 40%;
	color: white;
	background-color: #333;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 3px;
	padding: 10px;
	padding-bottom: 5px;
	position: absolute;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.leftsidebar {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	top: 15%;
	width: 15%;
	height: 100%;
	position: absolute;
	border-top: solid;
	border-top-color: white;
	background-color: #333;
	padding-top: 8px;
}
	
.leftsidebar .menu ul {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	list-style-type: none;
	background-color: #13A61B;
	margin: 0px;
	padding: 0px;
}
	
.leftsidebar .menu li {
	float: none;
	border: 1px solid #bbb;
	border:solid;
	border-color: #333;
	border-radius: 1px;
}
	
.leftsidebar .menu li a {
	display: block;
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
	
.leftsidebar .img-circle {
	border-radius: 50%;
	border-style: solid;
	border-color: white;
	width: 150px;
	height: 130px;
}

.leftsidebar .menu li a:hover {
    background-color: black;
    color: white;
}
.leftsidebar .menu .active {
    background-color: #4CAF50;
    color: white;
}

.account {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	position: absolute;
	top:15%;
	height: 100%;
	left: 15%;
	width: 85%;
	text-align: center;
	background-color: #333;
	border-top: solid;
	border-color: white;
}

.account ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #333;
}

.account li {
	display: block;
    text-decoration: none;
	width: 100%;
    text-align: left;
	color: white;
}


input[type=text] {
	width: 100%;
	padding: 7px 7px;
	box-sizing:border-box;
	border-color: white;
	border-radius: 3px;
}
	
input[type=password] {
	width: 100%;
	padding: 7px 7px;
	box-sizing: border-box;
	border-color: white;
	border-radius: 3px;
}

.num {
	color: red;
}

.dig {
	color: red;
}

.button {
	background-color: #13A61B;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

.application {
	text-align: left;
	padding-top: 5px;
	padding-left: 1px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	width: 100%;
	height: 120%;
	top: 15%;
	background-color: #ffe6e6;
	position: absolute;
}

.center {
	width: 100%;
	height: 110%;
	top: 15%;
	background-color: #333;
	border-top: solid;
	border-top-color: white;
}

.createaccount {
	position: relative;
	top: 17%;
	left: 30%;
	height: 75%;
	width: 40%;
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #333;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 3px;
	padding: 15px;
}

.addcard {
	position: relative;
	top: 17%;
	left: 30%;
	height: 45%;
	width: 40%;
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #333;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 3px;
	padding: 15px;
}

.error {
	top: 15%;
	position: absolute;
	height: 50%;
	width: 60%;
	color: white;
}

.footer {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: auto;
	width: 100%;
	height: 25%;
	border-top: solid;
	border-color: white;
	background-color: #000000;
	color: #FFFAF0;
	position: absolute;
	top: 105%;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.footer li {
    width: 33%;
	text-align: justify;
	border: none !important;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.copyright {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 10px;
	display: block;
	position: relative;
	text-align: center;
	color: #FFFAF0;
	border-top: solid;
	border-color: white;
	background-color: #000000;
	top: 130%;
	height: 5%;
}